@media (min-width: 30em) {
	.element-rich-link--upgraded.test {
	    width: 20.75rem;
	}
}

@media (max-width: 29.99em) {
	.element-rich-link--upgraded.test {
	    width: 100%;
	}
}

.test .rich-link__container {
    padding: 0px 10px;
}

.element-rich-link--upgraded.test .rich-link__header {
    font-size: 1.275rem;
    padding: 10px 6px;
    line-height: 1.5rem;
}

/*
 * OPTION ONE
 */

.test .tone-news--item.rich-link {
	background-color: #005689;
	color: #ffffff;
}

.test .tone-news--item .rich-link__arrow-icon {
    fill: #94b1ca;
}

.test .tone-news--item .rich-link__read-more-text {
	color: #ffffff;
}


/*
 * OPTION TWO
 */

/*
.test .tone-news--item.rich-link {
	background-color: #ffffff;
	color: #005689
}

.test .rich-link__container {
    padding: 0px 10px 10px;
}

.test .tone-news--item .rich-link__read-more-text {
	color: #333;
}

.element-rich-link--upgraded.test .rich-link__header {
    font-size: 1.275rem;
    padding: 10px 6px;
}
*/